*
{
    margin: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.main-content
{   
    margin: 9px;
    display: block;
    width: 40%;
    font-size: 40px;
     background-color: rgb(203, 201, 201);
}

.main-header
{
    margin: 9px;
    padding-left: 30px;
}

.deletes
{
    margin-left: 10rem;
    color: white;
    background-color: rgb(134, 6, 117);
}

.thongbao
{
    display: none;
    padding: 20px;
    margin: auto;
    text-align: center;
    position: fixed;
    background-color: rgba(169, 169, 169,0.8);
}

.tb {
    position: absolute;
    top:50%;
    right: 50%;
}

.hang2
{
    display: flex;
    justify-content: center;
}

.active
{
    display: block;
}

.active-2
{
    display: none;
}